@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    One Chimichoga lane<br />
    Redmond, OL13 6AT<br />
    <abbr title="Phone">P:</abbr>
    07902817802
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jacktatherton@googlemail.com">jacktatherton@googlemail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jakathey@gmail.com">jakathey@gmail.com</a>
</address>