@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BlockFlix</h1>
    <p class="lead"> Online Movie Rental Service</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This a website that consist of many different Customers and Movies, that a Customer can the Rent by the user selecting a Customer’s name and a chosen Movie that are all found in the websites database
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            This is where you will see all of the films that I have in my database, beyond this link the user will be able to view my collection, add to my collection, edit my collection, and remove from my collection.
        </p>
        <p><a class="btn btn-default" href="http://localhost:53287/Movies">Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>From here the user can see which customers are renting what films on this website, the user can add a new customer to a film, edit and change the film or customer and remove them completely .</p>
        <p><a class="btn btn-default" href="http://localhost:53287/Rentals">Rental &raquo;</a></p>
    </div>
</div>